.line-1{
    color: black;
}

.line-2{
    color: aqua;

}

.paragraph-1{
    color: blue;
}

.paragraph-2{
    color: red;
}

#European-countries{
    background-color:black;
}

body{
    background-color: black;
}