table,th,td {
    border:1px solid rgb(19, 19, 203);
    border-collapse:collapse;
    
}

tr:nth-child(even) {background-color: #D6EEEE;}

td:nth-child(even), th:nth-child(even) {background-color: #D6EEEE;}
